.textoa{
  background: rgba(243, 145, 231, 0.5);
}
.maranin{
  font-family: 'Pacifico', cursive;
} 
.contac{
  font-size: 0px;
  display: inline-flex;
  border-radius: 5px;
}
.pa{
  margin-top: 40px;
}