@import url('https://fonts.googleapis.com/css?family=Alegreya|Modak');
@import url('https://fonts.googleapis.com/css?family=Alegreya|Courgette|Fascinate+Inline|Modak');
@import url('https://fonts.googleapis.com/css?family=Pacifico&subset=latin-ext,vietnamese');
@import url('https://fonts.googleapis.com/css?family=Great+Vibes|Pacifico&subset=latin-ext,vietnamese');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Nosifer&subset=latin-ext');



.parallax-container {
  height: "your height here";
}
.textoa{
  background: rgba(250, 3, 3,  0.34);

  
}
.textob{
  background: #c51162;
}
.maranin{
  font-family: 'Nosifer', cursive;
  
  font-size: 25px;
} 
.men{
font-family:'Fascinate Inline', cursive;
}
.titul{
  font-family: 'Courgette', cursive;
  text-align: center;
}
.contac{
  font-size: 0px;
  display: inline-flex;
  border-radius: 5px;
}
.tam{
  font-size: 2em;
  font-family: 'Indie Flower', cursive;
}
